<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
  <%- include('../partials/header'); %>
  <%- page == 'results' ? include('../partials/opengraphresults') : include('../partials/opengraph') %>
</header>

<%- include(page); %>

<footer class="footer mt-auto text-center">
  <%- include('../partials/footer'); %>
</footer>

</body>
<script>
  if(window.location.pathname != '/settings'){ //don't load on the settings page
    settingStore = localStorage.getItem('settings')
    if(typeof settingStore == 'string' && window.location.href){
        settingsElem = document.getElementById('searchSettings')
        if(settingsElem){
            settingsElem.value = btoa(settingStore)
        }
    }
  }
</script>
</html>