<div class="row w-100 m-0">
    <form class="m-2 form-inline w-100" action="/search">
        <div class="w-100 align-items-center">
            <div class="form-group">
                <pre class="mt-4" style="font: 6px / 5px monospace; color: white; text-align: center; overflow: hidden; display: inline-flex;">
______  ___              _____            _____ 
___   |/  /____  ___________(_)_____________  /_
__  /|_/ /__  / / /_  ___/_  /_  _ \_  __ \  __/
_  /  / / _  /_/ /_  /   _  / /  __/  / / / /_  
/_/  /_/  _\__, / /_/    /_/  \___//_/ /_/\__/  
          /____/                                
                </pre>
                <input type="text" class="w-50 form-control bg-dark text-white" name="q" value="<%= query %>"">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </form>

    <div class="col-sm-12 w-100 mt-3">
        <table class="table text-white">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Size</th>
                <th>Date</th>
                <th>Match %</th>
            </tr>
            <% for (let x = 0; x < results.length; x++) { %>
            <tr>
                <td>
                    <a href="<%= results[x].item.path %>">
                        <%= results[x].item.name %>
                    </a>
                </td>
                <td>

                </td>
                <td>
                    <%= results[x].item.size %>
                </td>
                <td>
                    <%= results[x].item.date %>
                </td>
                <td>
                    <%= 1 - results[x].score %>%
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</div>