<div class="row w-100 m-0">
    <form class="m-2 form-inline w-100" action="/search">
        <div class="w-100 align-items-center">
            <div class="form-group">
                <pre class="mt-4 ml-2" style="font: 6px / 5px monospace; color: white; text-align: center; overflow: hidden; display: inline-flex;">
______  ___              _____            _____ 
___   |/  /____  ___________(_)_____________  /_
__  /|_/ /__  / / /_  ___/_  /_  _ \_  __ \  __/
_  /  / / _  /_/ /_  /   _  / /  __/  / / / /_  
/_/  /_/  _\__, / /_/    /_/  \___//_/ /_/\__/  
          /____/                                
                </pre>
                <input type="text" class="w-50 form-control bg-dark text-white ml-2" name="q" value="<%= query %>"">
                <button type="submit" class="btn btn-secondary ml-2">Search</button>
            </div>
        </div>
        <p class="m-2">Found <%= results.items.length %> result<%= results.items.length != 1 ? 's': '' %> in <%= results.elapsed %> seconds.</p>
    </form>
    
    <div class="col-sm-12 w-100 mt-3">
        <table class="table text-white">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>type</th>
                <th>Size</th>
                <th>Date</th>
                <th>Search Score</th>
            </tr>
            <% for (let x = 0; x < results.items.length; x++) { %>
            <tr>
                <td>
                    <a href="<%= results.items[x].path %>">
                        <%= results.items[x].name %>
                    </a>
                </td>
                <td>
                    <%= results.items[x].category %>
                </td>
                <td>
                    <%= results.items[x].type %>
                </td>
                <td>
                    <%= results.items[x].size %>
                </td>
                <td>
                    <%= results.items[x].date %>
                </td>
                <td>
                    <%= results.items[x].score.toFixed(2) %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</div>